<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="dashboard">
                    <div class="profile-card">
                        <div class="profile-card-info d-flex justify-content-center flex-column align-items-center">
                            <div class="profile-card-avatar">
                                <img src="{{data.avatar_src}}" alt="Rick Grimes">
                            </div>
                            <span class="profile-card-name">{{data.firstname}} {{data.surname}}</span>
                            <a href="#" class="profile-card-username">@{{data.username}}</a>
                        </div>
                        <ul class="profile-stats list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Записей
                                <span class="badge badge-primary badge-pill">{{stats.posts}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                <a href="/{{data.username}}/subscribtions/">Подписок</a>
                                <span class="badge badge-primary badge-pill">{{stats.subscribtion}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                <a href="/{{data.username}}/subscribers/">Подписчиков</a>
                                <span class="badge badge-primary badge-pill">{{stats.subscribes}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                <a href="/{{data.username}}/liked_posts/">Понравилось постов</a>
                                <span class="badge badge-primary badge-pill">{{stats.likes}}</span>
                            </li>
                        </ul>
                        
                    </div>
                    {{#if current_profile}}
                        <button class="btn btn-success w-100">Изменить профиль</button>
                        {{else}}
                        <a class="btn btn-primary w-100 font-weight-bold text-light">Подписаться</a>
                    {{/if}}
                    
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="news">
                    {{#each posts}}
                    <div class="post">
                        {{#if current_profile}}
                        <div class="post-actions-btn">
                            <div class="dropdown">
                                <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-offset="-145,1"><i class="fas fa-angle-down"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <h6 class="dropdown-header">Выберите действие</h6>
                                    
                                    <form action="/delete_post" method="post">
                                        <input type="hidden" name="post_id" value="{{this.id}}">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        <div class="post-avatar">
                            <img src="{{../data.avatar_src}}" alt="Big Baby Tape" class="align-bottom">
                        </div>
                        <span class="post-name">{{../data.firstname}} {{../data.surname}}</span>
                        <span class="post-username">@{{../data.username}}</span>
                        <span class="post-created-date">{{this.date}}</span>
                        <p class="post-content">
                            {{this.content}}
                        </p>
                        <div class="post-action-list">
                            <a class="post-comments"><i class="fas fa-comments"></i><span class="post-action-list-value">2</span></a>
                            <a class="post-likes"><i class="fas fa-heart"></i><span class="post-action-list-value">108</span></a>
                        </div>
                    </div>
                    {{else}}
                    <div class="posts-not-found">
                        <p>Нет записей. {{#if current_profile}}Напишите что-нибудь...{{/if}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>