<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                {{>profile-card}}
            </div>
            <div class="col-12 col-lg-9">
                <h5>Ваши подписчики</h5>
                <ul class="users">
                    {{#each users}}
                        <li data-id="{{this.id}}">
                            <a href="/{{this.username}}">
                                <img src="{{this.avatar_src}}" alt="{{this.name}} {{this.surname}}">
                                <div class="user-info">
                                    <span class="user-real-name">{{this.name}} {{this.surname}}</span>
                                    <span class="username">@{{this.username}}</span>
                                </div>
                            </a>
                            {{#if my_subscribe}}
                                <a class="btn btn-secondary btn-sm text-light subscribe-btn" id="subscribe-btn" data-action="unsubscribe">Отписаться</a>
                                {{else}}
                                <a class="btn btn-primary btn-sm text-light subscribe-btn" id="subscribe-btn" data-action="subscribe">Подписаться в ответ</a>
                            {{/if}}
                        </li>
                        {{else}}
                        <div class="posts-not-found">
                            <p>У вас нет подписчиков</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>
<script src="js/subscribe.js"></script>